@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300italic,300,400italic,700,700italic,600italic);

#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

   
}
#cssmenu:after,
#cssmenu > ul:after {
  /*content: ".";*/
  /*display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;*/
 /*  display: block;*/
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
   /*float: right;
    font-family: Open Sans;
    line-height: 1;
    margin-top: -20px;
    width: auto;
    padding-bottom:7px;*/
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #939396 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    color: #002856;
    font-family: Arial;
    font-size: 11px;
    letter-spacing: 2px;
    margin-top: 78px;
    padding: 0;
    width: 1100px;
  
  
}
#cssmenu ul.ul {
/*padding-top:55px;*/ margin: 0px 0 19px; position:relative; 
  
}
#cssmenu ul.ul1 {
display:block;
  
}
#cssmenu ul {
    /*height: 0px;*/
  list-style: none;
  margin: 0;
  padding: 0;
  float:right;
}
#cssmenu ul li.investor a
{
    border-left:1px solid #ffffff;
}
/*#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: #009ae1;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}*/
#cssmenu > ul {
  float: right;
  display:block;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a
{
    /*padding: 3px 16px;
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	font-size: 13px;
	font-family: Open Sans;
	color: #6b737a;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align:left;*/
    border-top: 10px solid #939396;
    border-left: 1px solid #939396;
    font-family: Arial;
    font-size: 11px;
    color: #002856;
    width: auto;
    letter-spacing: 2px;
    display: block;
    line-height: 18px;
    padding: 4px 82px 20px 8px;
    text-align: center;
    text-decoration: none;
    height: 20px;
}
#cssmenu > ul > li:hover > a, #cssmenu > ul > li.active > a
{
    border-top: 11px solid #002856;
    display: block;
    border-left: 1px solid #002856;
    margin-top: -1px;
    margin-left: 0px;
    border-left: 1px solid #002856;
}
#cssmenu > ul > li.has-sub > a {
  /*padding-right: 20px;*/
}
#cssmenu > ul > li.has-sub > a::after {
  position: absolute;
  /*top: 21px;
  right: 10px;
  width: 4px;
  height: 4px;*/
 /* border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;*/
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu > ul > li.has-sub:hover > a::after {
  border-color: #009ae1;
  
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  z-index:1; padding-top:5px;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  right: 0;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul {

}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#cssmenu ul li:hover > ul > li {
  height: 25px;  
}
#cssmenu ul ul li a {
  background: #d0d0d2;  
  filter: none;
  font-size: 11px;
  display: block;
  /*line-height: 100%;*/
  padding: 10px 10px 7px 10px;
  color: #5e5e5f;
   text-transform:uppercase;
   font-family:Arial;
   width:300px;
 
 
}
#cssmenu ul ul li a.last {
 padding-top:25px;
 
}

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff; 
    border: 0; text-decoration:none; font-weight:bold;
}
#cssmenu ul ul li.has-sub > a::after
{
    /*position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  font-size:13px;

  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;*/
}
#cssmenu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#cssmenu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}

#cssmenu .top-NavNew{
	display:none;
}

@media all and (max-width: 1024px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) 
{
    #Topcssmenu ul {
    float: right;
    height: 25px;
    list-style: outside none none;
    margin: 0 25% 0 0;
    padding: 0;
}
.topNav
{
     float: left;
    height: 20px;
    vertical-align: top;
    width: 700px;
   
}

  #cssmenu
    {
        width: 80%;
        z-index: 2;
        border-color: #ffffff -moz-use-text-color -moz-use-text-color;
        margin-right: 250px;
    }
  
  #cssmenu ul {
    width: 100%;
    display: none;
     margin-left:1px;  z-index:2;
   
  }
  #cssmenu ul.ul
    {
        padding-top: 15px;
        position: relative; /*margin-top:40px;*/
        z-index: 2;
    }
*::before, *::after {    
    box-sizing:;

}
#cssmenu > ul > li > a {
    /*border-left: 1px solid #939396;
    border-top: 10px solid #939396;*/
    color: #002856;
    display: block;
    font-family: Arial;
    font-size: 11px;
    height: 20px;
    letter-spacing: 2px;
    line-height: 18px;
    padding: 4px 82px 20px 8px;
    text-align: center;
    text-decoration: none;
    width: auto;
}
#cssmenu > ul > li:hover > a, #cssmenu > ul > li.active > a
    {
        /*border-top: 11px solid #002856;*/
        display: block; /*border-left: 1px solid #002856;*/
        margin-top: -1px;
        margin-left: 0px;
        text-align: left; /*border-left: 1px solid #002856;*/
    }
/*#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {

padding-left: 16px;
color: #e65400; }
   
}*/
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  z-index:1; padding-top:0px; 
}


  #cssmenu.align-center > ul,
  #cssmenu.align-right ul ul {
    text-align: left;  z-index:2;
  }
  #cssmenu ul li,
  #cssmenu ul ul li,
  #cssmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;  z-index:2;
    color:#cccccc; 
   /* border-top: 1px solid rgba(120, 120, 120, 0.15);*/
  }

  #cssmenu ul li:hover{
    width: 100%;
    height: auto;  z-index:2; /*background-color:#000000;*/
   /* border-top: 1px solid rgba(120, 120, 120, 0.15);*/
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    z-index:2;
    text-align:left;white-space:nowrap;
   /* padding:10px 20px;*/
  }
  #cssmenu > ul > li,
  #cssmenu.align-center > ul > li,
  #cssmenu.align-right > ul > li {
    /*float: none;*/
    display: block;
  }
  /*#cssmenu ul ul li a {
    padding: 20px 20px 20px 30px;
    font-size: 12px;
    color: #ffffff;
    background: none;
  }*/
  
  #cssmenu ul ul li a
    {
        /*padding: 11px 20px;*/
        width: 100%;
        background: #d0d0d2;
        box-shadow: 0 1px 1px rgba(0,0,0,0.3);
        border: 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        -webkit-transition: color .2s ease;
        -moz-transition: color .2s ease;
        -ms-transition: color .2s ease;
        -o-transition: color .2s ease;
        transition: color .2s ease;
        text-align: left;
        color: #5e5e5f;
        text-transform: uppercase;
        font-family: Arial;
        white-space: nowrap;
    }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li a:hover {
     color: #ffffff;    
     font-weight:bold;
   /* background-color:#000000;*/
   
  }
  #cssmenu ul ul ul li a {
    padding-left: 40px;
  }
   #cssmenu ul li ul {
    margin-bottom:10px;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
  #cssmenu > ul > li.has-sub > a::after,
  #cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 15px;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase; margin-left:150px; margin-top:-9px;
  }
  #cssmenu #menu-button::after {
     background: none repeat scroll 0 0 #939396;
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    right: 0;
    top: -28px;
    width: 30px;
  }
  #cssmenu #menu-button::before {
     border-bottom: 4px solid #939396;
    border-top: 4px solid #939396;
    content: "";
    display: block;
    height: 11px;
    position: absolute;
    right: 0;
    top: -35px;
    width: 30px;
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 60px;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.15);
    height:20px;
    width:40px;
    cursor: pointer;
    background-color:#ffffff;
   
  }
  #cssmenu .submenu-button::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: #939396;
    z-index: 99;
  }
  #cssmenu .submenu-button::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 10px;
    display: block;
    width: 11px;
    height: 1px;
    background: #939396;
    z-index: 99;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    display: none;
  }
  #cssmenu ul li.investor a
{
    border-left:none;
}
/*#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color:#002856;  border:none; background:none;
 margin-bottom:0px; margin-left:4px;
   
}*/
#cssmenu .top-NavNew{
	display:block;
}
.hidden-sm {
    display: none !important;
}
}
@media screen and (max-width:1000px)
{
     #cssmenu {
    width: 100%;  z-index:2;border-color: #ffffff -moz-use-text-color -moz-use-text-color;
  }
}
@media screen and (max-width:767px)
{
     #cssmenu {
    width: 100%;  z-index:2;/*border-color: #ffffff -moz-use-text-color -moz-use-text-color;*/
  }
}

@media screen and (max-width:479px)	
{
     #cssmenu {
    width: 100%;  z-index:2;/*border-color: #ffffff -moz-use-text-color -moz-use-text-color;*/
  }
}